build/
grpc_build/
aws_sdk_build/
awscliv2/
awscliv2.*
aws_iot_device_sdk_cpp_v2_build/
opencv_build/
onnxruntime_build/
nlohmann_json_build/
triton_client_build/
pylon_package/
linuxbuild/
package/
.vscode/
.ipynb_checkpoints/
infrastructure/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MacOS .DS_Store files
.DS_Store

# Log files
*.log
*.logs

# Draw.IO files
*.drawio*

# Avoid all greengrass build files
**zip-build
**greengrass-build